body {
  background: #EFECCA;
  font-family: Helvetica, Arial;
}
h1 {
  color: #C03000;
}
h2 {
  color: #4BB5C1;
}
ul {
  list-style: none;
}
li {
  border-style: solid;
  border-color: #660000;
  background: #C03000;
  display: inline;
  padding: 10px;
}
li:hover {
  background: #009900;
}
li>a {
  color: white;
  text-decoration: none;
}

footer a {
  text-decoration: none;
}
